
:root{
    --main-bg-color: #3f51b5 ;
    --main-txt-color: #FFFFFF;
    --main-boton-color: #448aff;
    --main-barra-color:#303f9f;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 13px;
    color: var(--main-txt-color);
    font-family: 'Coda', cursive;
    box-sizing: border-box;
}
html,body{
    height:100%;
    display: flex;
    flex-direction: column;
    padding: 0 1px ;    
}

/* Popup */
.cont-popup{
    background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
    display: flex;
    visibility: hidden;
}
.cont-popup.active{
	visibility: visible;
}
.popup.active{
    visibility: visible;
}
.popup{
    background: white;
}
.cerrar-popup{
    color: brown;
    margin-left: 3px;
}
.cerrar-popup:hover{
    color: brown;
}