.content-cont{
  width: 500px;
  padding-top: 10%;
  padding-bottom: 10%;
}
div.content-cont form{
  background: white;
  border-radius: 4px;
  text-align: center;
  color: black;
  border: 1px solid  wheat;
  padding: 4px;
}
div.content-cont form input{
  width: 99%;
  height: 25px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: black 1px solid;
  border-radius: 2px;
  outline: none;
  text-align: center;
}
div.content-cont form input:focus{
  outline: brown solid 1px;
  border: brown 1px solid;;
}
div.content-cont form .cont-label{
  left: -165px;
  bottom: 3px;
  position: relative;
}
div.content-cont form input[type="submit"]{
  background: rgb(155, 155, 252);
  outline: none;
  border: rgb(94, 94, 241) 1px solid;
}
div.content-cont form input[type="submit"]:hover{
  background: rgb(94, 94, 241);
}
div.content-cont form input[type="submit"]:active{
  background: rgb(155, 155, 252);
  border-bottom: rgb(94, 94, 241) 2px solid;
  border-left: rgb(94, 94, 241) 2px solid;
}
div.content-cont form input[type="checkbox"]{
  position: relative;
  width: 15px;
  height: 15px;
  left: -163px;
}
div.content-cont form input[type="checkbox"]:focus{
  outline: none;
}
div.content .content-cont a:hover{
  text-decoration: underline;
}
div.content-link{
  position: relative;
}
div.content-link a{
  position: relative;
  color: brown;
}
.alert{
  margin: 0%;
}
.remove{

  width: 9%;
  border: 1px black solid;
}
/*relativa , ocupa el 100% de su contenedot padre
  absoluta , ahi qye darle un with  de anchura
*/