.barra-top{
    border: 10px solid var(--main-barra-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
/* editando estilos por defecto boostrap */
.bg-light {
    background-color: var(--main-bg-color)!important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.navbar-light .navbar-text a {
    color: var(--main-txt-color) !important;
}